{% extends "bill2myprint/base.html" %}
{% load static %}
{% load templatetags %}

{% block template_main %}

    {% if transactions_list %}
        <div class="page-header">
	  <!-- Show the student's name -->
          <h1>{{ transactions_list.0.entity.name }}</h1>
        </div>

        {# .... **Now the pagination section** .... #}
        {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
        {% endif %}

        <div class="row">
          <div>
            <table data-toggle="table" class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th data-field="date" data-sortable="true">Date</th>
                  <th data-field="amount" data-sortable="true">Montant</th>
                  <th data-field="comment" data-sortable="true">Commentaire</th>
                </tr>
              </thead>
              <tbody>
          	{% for transaction in transactions_list %}
                <tr>
                  <td>{{ transaction.transactiontime }}</td>
                  <td>{{ transaction.amount }}</td>
                  <td>{{ transaction.transactiondata }}</td>
                </tr>
          	{% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {# .... **Now the pagination section** .... #}
        {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
    {% else %}
      <p>An error occurred. No data is available.</p>
    {% endif %}

{% endblock %}
