{% extends "bill2myprint/base.html" %}
{% load static %}

{% block template_main %}
    <h1></h1>
    <ul class='list-inline'>
        <li><a href="{% url "bill2myprint:students" %}"><button class='btn btn-default'>Etudiants</button></a></li>
        <li><a href="{% url "bill2myprint:faculties" %}"><button class='btn btn-default'>Facultées</button></a></li>
        <li><a href="{% url "bill2myprint:detail" %}"><button class='btn btn-default'>Détail par faculté</button></a></li>
        <li><a href="{% url "bill2myprint:rallonge2" %}"><button class='btn btn-default'>Rallonges facultaires</button></a></li>
    </ul>
{% endblock %}
