{% extends "bill2myprint/base.html" %}


{% block template_main %}
<h1>Étudiant</h1>

<div class="panel panel-default">
    <div class="panel-body">
        <form id="student_form" action="{% url 'default_students' %}" method="POST">{% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <h4>Rechercher: </h4>
                </div>
                <div class="col-md-8">
                    <input class="autocomplete-student" type="text" name="student" placeholder="Numéro sciper ou Nom">
                </div>
            </div>
        </form>
    </div>
</div>

<h2>Données personnelles</h2>

<div class="row">
    <div class="col-md-4">
        <h4>Nom: </h4>
    </div>
    <div class="col-md-8">
        <h4>{{ student.name }}</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Username: </h4>
    </div>
    <div class="col-md-8">
        <h4>{{ student.username }}</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Sciper: </h4>
    </div>
    <div class="col-md-8">
        <h4>{{ student.sciper }}</h4>
    </div>
</div>

<h2>Cumulé</h2>

<div class="row" style="margin-top: 30px;">
    <div>
        <table data-toggle="table" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th data-field="vpsi" data-sortable="false">Crédit VPSI</th>
                    <th data-field="faculty" data-sortable="false">Crédit Faculté</th>
                    <th data-field="charged" data-sortable="false">Crédit Étudiant</th>
                    <th data-field="spent" data-sortable="false">Dépense étudiant</th>
                    <th data-field="credit" data-sortable="false">Bilan</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="cell-for-numbers">{{ cumulated.vpsi|floatformat:2 }}</td>
                    <td class="cell-for-numbers">{{ cumulated.faculty|floatformat:2 }}</td>
                    <td class="cell-for-numbers">{{ cumulated.added|floatformat:2 }}</td>
                    <td class="cell-for-numbers">{{ cumulated.spent|floatformat:2 }}</td>
                    <td class="cell-for-numbers">{{ cumulated.credit|floatformat:2 }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<h2>Détaillé</h2>

<div class="row" style="margin-top: 30px;">
    <div class="pagination">
        <span class="step-links">
            {% if transactions.has_previous %}
                <a href="{% url 'students' sciper=student.sciper %}?page={{ transactions.previous_page_number }}">Précédent</a>
            {% endif %}

            <span class="current-page">
                Page {{transactions.number }} sur {{ transactions.paginator.num_pages }}
            </span>

            {% if transactions.has_next %}
                <a href="{% url 'students' sciper=student.sciper %}?page={{ transactions.next_page_number }}">Suivant</a>
            {% endif %}
        </span>
    </div>

    <div>
        <table data-toggle="table" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th data-field="date" data-sortable="true">Date</th>
                    <th data-field="semester" data-sortable="false">Semestre</th>
                    <th data-field="section" data-sortable="true">Faculté:Section</th>
                    <th data-field="type" data-sortable="true">Type</th>
                    <th data-field="cardinality" data-sortable="true">Nombre opérations</th>
                    <th data-field="amount" data-sortable="true">Montant</th>
                    <th data-field="job" data-sortable="true">Remarques</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.transaction_date|date:"d M Y" }}</td>
                    <td>{{ transaction.semester.name }}</td>
                    <td>{{ transaction.section.faculty.name }}:{{ transaction.section.acronym }}</td>
                    <td>{{ transaction.transaction_type }}</td>
                    <td class="cell-for-numbers">{{ transaction.cardinality }}</td>
                    <td class="cell-for-numbers">{{ transaction.amount|floatformat:2 }}</td>
                    <td>{{ transaction.job_type }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if transactions.has_previous %}
                <a href="{% url 'students' sciper=student.sciper %}?page={{ transactions.previous_page_number }}">Précédent</a>
            {% endif %}

            <span class="current-page">
                Page {{transactions.number }} sur {{ transactions.paginator.num_pages }}
            </span>

            {% if transactions.has_next %}
                <a href="{% url 'students' sciper=student.sciper %}?page={{ transactions.next_page_number }}">Suivant</a>
            {% endif %}
        </span>
    </div>
</div>


{% endblock %}
