{% extends "bill2myprint/base.html" %}
{% load static %}
{% load templatetags %}

{% block template_main %}

<div class="page-header">
  <h1>Etudiants</h1>
</div>

{# .... List of semesters to choose from .... #}
{% if semesters %}
    <form action="{% url 'bill2myprint:students' %}" method="POST">
	{% csrf_token %}
        {% for sem in semesters %}
        <label for="{{ sem }}">{{ sem }}</label>
        <input type="checkbox" name="semesters[]" id="{{ sem }}" value="{{ sem }}">
        <br>
        {% endfor %}

        <input type="submit">
    </form>
{% else %}
    <p>La liste des semestres n'a pas pu être récuperée</p>
{% endif %}

{# .... Pagination section .... #}
{% if is_paginated %}
<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}

<div class="row">
    <div>
        {% if students %}
        <table data-toggle="table" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th data-field="sciper" data-sortable="true">Sciper</th>
                    <th data-field="semestre" data-sortable="true">Semestre</th>
                    <th data-field="vpsi" data-sortable="true">Crédits VPSI</th>
                    <th data-field="fac" data-sortable="true">Crédit Faculté</th>
                    <th data-field="perso" data-sortable="true">Crédit personel</th>
                    <th data-field="spent" data-sortable="true">Dépense</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.student__sciper }}</td>
                    <td>{{ student.semester__name }}</td>
                    <td>{{ student.vpsi }}</td>
                    <td>{{ student.fac }}</td>
                    <td>{{ student.perso }}</td>
                    <td>{{ student.spent }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Seléctionnez un semestre pour voir les données</p>
        {% endif %}
    </div>
</div>

{# .... Pagination section .... #}
{% if is_paginated %}
<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock %}
